/* 웹 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;500;600;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* a reset */
a {
    color: inherit;
    text-decoration: none;
}

/*  common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    font: 14px "Noto Sans KR", sans-serif;
}

.en {
    font-family: "Exo 2", sans-serif;
}

/*  header 스타일 */
header {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
    line-height: 100px;
    position: fixed;
}

/* inner-header 스타일 */
header .inner-header {
    width: 84%;

    margin: 0 auto;
}

/* h1 스타일 */
header .inner-header h1.logo {
    float: left;
    width: 200px;

}

/* h1 img 스타일 */
header .inner-header h1.logo img {
    width: 100%;
}

/* 메인 nav 스타일 */
header .inner-header nav.gnb {
    float: left;
    margin-left: 80px;
}

/* 메인 nav li 스타일 */
header .inner-header nav.gnb li {
    float: left;
    margin-right: 80px;
}

/*  메인 nav li a 스타일 */
header .inner-header nav.gnb li a {
    color: #fff;
    font-size: 16px;
    display: block;
}

/* 메인 nav li a hover 스타일 */
header .inner-header nav.gnb li a:hover {
    color: #ff8342;
}

/* 서브 nav 스타일 */
header .inner-header nav.tnb {
    float: right;
}

/* 서브 nav li 스타일 */
header .inner-header nav.tnb li {
    float: left;
    margin-right: 25px;
}

/* 서브 nav li a 스타일 */
header .inner-header nav.tnb li a {
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 2;
    margin-top: 33px;
}
/* 아이콘(마지막) 스타일 */
header .inner-header nav.tnb li:last-child a{
    display: block;
    width: 105px;
    border: 1px solid #fff;
    border-radius: 30px;

}
/* 아이콘(마지막) hover 스타일 */
header .inner-header nav.tnb li:last-child a:hover{
    color: #ff8342;
    background: #fff;
}

/* 아이콘 스타일(첫번 쨰, 두번 째) */
header .inner-header nav.tnb li:first-child a i,
header .inner-header nav.tnb li:nth-child(2) a i {
    margin-right: 8px;
    font-size: 20px;
}

/* 아이콘 스타일(세번 째) */
header .inner-header nav.tnb li:last-child a i {
    margin-left: 5px;
}

